body {
  font-family: verdana;
}

h1{
  color: #0076CE;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

.nav {
  display: flex;
  justify-content: space-around;
}

#welcome {
  font-size: smaller;
}
